*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
.project
.strong-pm
coverage

# User-specific IDEA files:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/jsLibraryMappings.xml

# Sensitive or high-churn IDEA files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Ignore node modules
node_modules
npm-debug.log

# Ignore bower components
build/lib

# Ignore built files
build/uniform.js
build/uniform.min.js
*.es5